<html>
    <head>
        <title>Money and Politics</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">Index</a></li>
                        <li><a href="{{ url_for ('render2') }}">TARP</a></li>
                        <li><a href="{{ url_for ('render3') }}">PPACA</a></li>
                        <!-- <a href{{ url_for('index') }}><button type="button" class="home-button btn btn-sm btn-block">Index</button></a> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h1></h1>
            <ul>
            {% for message in get_flashed_messages() %}
            <li>{{message}}</li>
            {% endfor %}
            </ul>
            <div>
            {% block body %}
            {% endblock %}
            </div>
        </div>
        <div id="footer">
            <div class="container well">
                <p class-"text-muted">data from</p>
                <a href="http://www.opensecrets.org/">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjoSxF7BgRS3GI1cjnZ_0Ri6VKGgkUmR96F4jbGhlgqz_T8cdy" height='20px'/></a>
                <a href="http://govtrack.us">
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQTd3Dw-b8ZNZ3jiu0MhAgkGvfKS6RXGAmtX82OgcSrGmAthe3Xcw"/></a>
            </div>
        </div>
    </body>
</html>
